.page-header .page-header-top .page-logo .logo-default {
  margin: 0 !important;
    width:180px;
}

.page-content-bg {
    background: #fff none repeat scroll 0 0;
    margin-bottom: 20px;
}

.profile-content-bg {
    background: rgba(255, 255, 255, 0.25) none repeat scroll 0 0;
    width: 100%;
}

.page-content {
  background:  url("../webroot/assets/admin/pages/media/bg/1.jpg") no-repeat fixed center top 100% / cover  !important;
}

.content {
    background-color: #fff;
    margin: 0 auto;
    padding: 20px 30px 15px;
}

.header_approved .logo {
    text-align: right;
}

.main-logo {
  float: right;
  margin-bottom: 0;
  margin-top: 0;
  width: 25% !important;
}

.main-logo img {
    width: 100%;
}

.header_approved div h2 {
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 22px;
  text-align: right;
}

.send-application div h2 {
    font-weight: 400;
}

.no-padding {
    padding: 0 !important;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.required::after {
    color: #e32;
    content: " *";
}

.padding-right {
    padding-right: 0 !important;
}

.approved-form .subz {
    margin-bottom: 20px;
}

.padding-left {
    padding-left: 0 !important;
}

.driving_exp label .checkbox {
  display: inline-block !important;
}

.signature_date label {
    text-align: center;
}

.tab-pane div .radio-inline {
    padding-left: 0 !important;
}

.radio-inline, .checkbox-inline {
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  margin-bottom: 0;
  padding-left: 0 !important;
  vertical-align: middle;
}

.footer-block address > div {
  margin-bottom: 2px;
}

.footer-block address strong {
    display: inline-block;
    width: 60px;
}


/** Transport-applicaton **/

.header_address {
    margin-bottom: 20px;
    text-align: center;
}

.header_address h2 {
    font-size: 24px;
    font-style: italic;
    margin-bottom: 5px !important;
    font-weight: 400;    
}

.header_address .address span {
    display: block;
}

.header_address .address {
   /* color: #fff;*/
    font-size: 17px;
    font-style: italic;
    border-bottom: 5px solid #bbb;
    margin-bottom: 20px;
    padding-bottom: 5px;
}

.main-title {
    font-size: 22px;
    text-align: center;
    margin-bottom: 25px;
    font-weight: 700;
}

.header_approved .logo > span {
    font-weight: 600;
}

.current-policy .col-md-12 > h4, .loss-experience div > h4, .cargo h4, .commercial-general h4, .driver_info h4, .driving_exp h4, .trucking_company  h4, .claims_history h4 {
    font-weight: 600;
}

.transport-app-form .texts {
    font-style: italic;
}

.current-policy .table-striped > tbody > tr:nth-child(2n+1) {
    background-color: #ffffff !important;
}

.current-policy table {
    border: 1px solid #dfdfdf;
}

.current-policy .table > thead > tr > th {
    border-bottom: medium none !important;
    vertical-align: bottom;
}

.current-policy .table > caption + thead > tr:first-child > th, .current-policy  .table > colgroup + thead > tr:first-child > th, .current-policy  .table > thead:first-child > tr:first-child > th, .current-policy .table > caption + thead > tr:first-child > td, .current-policy .table > colgroup + thead > tr:first-child > td, .current-policy .table > thead:first-child > tr:first-child > td {
    border: 1px solid #dfdfdf !important;
}

.current-policy .table > thead > tr > th, .table > tbody > tr > th, .current-policy .table > tfoot > tr > th, .current-policy .table > thead > tr > td, .current-policy .table > tbody > tr > td, .current-policy .table > tfoot > tr > td {
    border: 1px solid #dfdfdf !important;
    color: #000;
}

.current-policy .table thead {
    background: #f9f9f9 none repeat scroll 0 0;
}

.upload_btns a {
    display: block;
    margin-top: 10px;
}

.loss-experience .radio, .cargo .radio , .commercial-general .radio {
    display: inline-block !important;
    margin-right: 5px !important;
   margin-left: -3px !important;
}

.loss-experience .radio-inline, .cargo .radio-inline, .commercial-general .radio-inline {
    padding-left: 7px !important;
}

.detail-textarea {
    margin-top: 10px;
}

.driver-lists .table.table-bordered th {
    background: #f7f7f7 none repeat scroll 0 0;
    text-align: center;
    vertical-align: top !important;
    color: #888;    
}

/*** new css ***/

.width-equal td .label {
    display: block;
    padding: 7px 3px;
    width: 40px;
}

.width-equal .actions .label {
    display: block;
    padding: 3px 3px 4px;
    width: 70px;
}

.profile-sidebar-portlet {
  border-radius: 5px;
  margin-left: 10px;
  margin-top: 10px !important;
}

.page-bar {
    float: right;
    margin-top: 12px;
}

.profile-usertitle .btn {
    font-size: 12px;
}

.profile-account .profile-sidebar-portlet {
    margin-left: 0;
}

.form.profile-content-bg {
    padding: 20px !important;
}

.chat-form .form-control.input-inline {
    float: left;
    margin-right: 5px;
    
}
/*
.send-application, .header_address, .transport-app-form, .header_approved, .header_approved .logo, .approved-form {
    color: #fff;
}

.form-group.last, .form-group.last p span {
    color: #fff !important;
}
*/
.form-group.last > h2 {
    border-top: 1px dotted #fff;
    padding-top: 20px;
}

.form-group.last > h2:first-child {
    border-top: none;
    padding-top: 0px;
}

.page-footer-inner > a:hover {
    text-decoration: none;
    color: #4db3a4 !important;
      -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.tabbable-custom .nav.nav-tabs {
    background: #F7F7F7 none repeat scroll 0 0;
}

.footer-block address a {
    color: #4db3a4;
          -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.footer-block address a:hover {
    text-decoration: none;
    color: #a2abb7 !important;
      -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}


.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
  background: #f7f7f7 none repeat scroll 0 0;
  border-bottom-width: 2px;
  color: #888;
  font-weight: 700;
  text-align: center;
}

.pricing.hover-effect {
  background: #fff none repeat scroll 0 0;
  border-radius: 5px;
  box-shadow: 0 0 3px #555555;
  margin: 10px 0;
}

.tinynav a{font-size:13px!important;padding:12px!important;}


.page-content .dashboard-stat:hover {
    text-decoration: none;
}

.page-content .dashboard-stat .visual > i {
  display: block;
  font-size: 50px;
  line-height: 50px;
  margin: 0 auto;
  padding-top: 15px;
}

.page-content .dashboard-stat .visual {
  display: block;
  float: none;
  font-size: 35px;
  height: 35px;
  line-height: 35px;
  margin-bottom: 15px;
  padding-left: 0;
  padding-top: 0;
  text-align: center;
  width: 100%;
}

.page-content .dashboard-stat .details {
  padding-right: 0;
  position: static;
}

.page-content .dashboard-stat .details .number {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 20px;
  margin-bottom: 0;
  padding-top: 20px;
  text-align: center;
  text-transform: uppercase;
}

.page-container .page-content .dashboard-stat.blue-madison.dashboard-stat-light .details .desc {
  display: block;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0;
  opacity: 0;
  overflow: hidden;
  text-align: center;
}

.page-container .page-content .dashboard-stat .details .desc {
  display: block;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0;
  text-align: center;
}


.page-container .page-content .dashboard-stat.yellow.dashboard-stat-light .details .desc {
  display: block;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0;
  text-align: center;
}

.page-content .dashboard-stat.blue-madison.dashboard-stat-light:hover {
    background-color: #4884b8;
    border-color: #578ebe;
      -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.page-content .dashboard-stat.red-intense.dashboard-stat-light:hover {
    background-color: #e04a49;
    border-color: #e35b5a;
      -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;    
}

.page-content .dashboard-stat.green-haze.dashboard-stat-light:hover {
    background-color: #3ea7a0;
    border-color: #44b6ae;
          -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out; 
}

.page-content .dashboard-stat {
  border: 5px solid rgba(250, 250, 250, 0.2);
  box-shadow: 0 0 5px #6c6c6c;
  display: block !important;
  margin: 0 auto;
  position: relative;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out; 
}

.page-content .dashboard-stat, .page-content .dashboard-stat:hover {
    text-decoration: none !important;
} 

.visual-bg i {
  color: #fff;
  font-size: 100px;
  left: -20px;
  line-height: 110px;
  opacity: 0.1;
  position: absolute;
}

.page-content .dashboard-stat.green-haze.dashboard-stat-light {
  border: 5px solid rgba(250, 250, 250, 0.2);
  box-shadow: 0 0 5px #6c6c6c;
  display: block !important;
  margin: 0 auto;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out; 
}

.page-content .dashboard-stat.dashboard-stat-light.yellow {
  border: 5px solid #f8cf8f;
  box-shadow: 0 0 5px #6c6c6c;
  display: block !important;
  margin: 0 auto;
              -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out; 
}

.page-container .page-content .dashboard-stat .visual > i {
    color: white;
    opacity: 0.8;
                    -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out; 
}

.page-content .dashboard-stat.dashboard-stat-light.yellow:hover {
  border: 5px solid #ffb848;
              -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out; 
}

@media print { 
    .col-md-6 {
    width: 50%;
    float: left;
}

.col-md-12 {
    width: 100%;
}

.col-md-5 {
    width: 41.6667%;
}

.col-md-7 {
    width: 58.3333%;
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
  float: left;
}

.col-md-10 {
    width: 83.3333%;
}

.col-md-2 {
    width: 16.6667%;
}


}

.page-container .page-content .dashboard-stat .visual-hover {
    display: none;
   -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out; 
}

.page-container .page-content .dashboard-stat .visual-hover > i {
    color: white;
    opacity: 0.8;
                        -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out; 
}
.dashboard-stat.blue-madison .visual-hover > i {
    color: white;
    opacity: 0.1;
}
.page-content .dashboard-stat .visual-hover > i {
    display: block;
    font-size: 50px;
    line-height: 50px;
    margin: 0 auto;
    padding-top: 15px;
}

.dashboard-stat:hover .visual {
    display: none;
                        -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out; 
}


.dashboard-stat:hover .visual-hover {
    display: block !important;
                        -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out; 
}

.page-content .dashboard-stat .visual-hover {
  display: block;
  float: none;
  font-size: 35px;
  height: 35px;
  line-height: 35px;
  margin-bottom: 15px;
  padding-left: 0;
  padding-top: 0;
  text-align: center;
  width: 100%;
                          -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

label {
    font-weight: 400 !important;
}

.approved-form h5 {
    font-weight: 600;
}

.form-actions .forget-password #forget-password {
  color: #00fa72 !important;
  font-weight: 600;
  text-transform: uppercase !important;
}

#logoform1 img, #logoform2 img, #logoform img {
  background: #f5f5f5 none repeat scroll 0 0;
  border-radius: 5px;
  padding: 10px;
}

.portlet.calendar .fc-button {
  color: #000 !important;
  top: -47px !important;
}

.calendar .btn {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 100px;
}

.calendar .form-body .col-md-3 {
    margin-top: 35px;
}

.header_approved {
  background: #f5f5f5 none repeat scroll 0 0;
  border-bottom: 1px solid #e5e5e5;
  border-radius: 5px 5px 0 0;
  margin: -12px -20px !important;
  margin-bottom: 20px !important;
  padding: 10px;
}

.profiles-adds .form-actions {
  background: #f5f5f5 none repeat scroll 0 0;
  margin-top: -28px;
}

.nav-tabs > li > a {
    margin-right: 0 !important;
}

/*** CSS FOR LOGO_MID HEADER ***/
.logo-text {
    text-align: center;
    margin: 10px 0 0;
}

.mid-text {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.logo-mid {
    display: inline-block;
    margin-right: 10px;
}


/*** STEP1 FORM CSS ***/
.step1-form .checkbox-inline span .form-control:first-child {
  margin-left: 0 !important;
  margin-top: -26px !important;
}

.province-select {
  padding-left: 9px !important;
  width: 56% !important;
}


.gndn label .checked {
  display: inline-block;
}

.gndn label .checkbox {
  padding-left: 0 !important;
}

.nav-tabs {
    background: #f7f7f7 none repeat scroll 0 0;
    border-bottom: 1px solid #ddd;
}

.alert-wrapper {
    background: rgba(0, 0, 0, 0) url("../webroot/assets/admin/pages/media/bg/1.jpg") no-repeat fixed center top 100% / cover !important;
}

.alert-wrapper .alert {
  margin: 5px 0 15px;
}

.tabbable-custom > .nav-tabs > li.active, .nav-tabs li.active {
  border-top: 3px solid #444d58 !important;
}

.nav-tabs li > a {
  border-radius: 0 !important;
}

.nav.nav-tabs {
    padding: 10px 20px 0;
}

.portlet > .portlet-title > .nav-tabs > li > a {
  margin: 0 !important;
}

/*** ORDER TYPE CSS ***/
.pricing-margin {
    margin: 20px 0 !important;
}





/*** RESPONSIVE CSS ***/

/* Portrait tablet to landscape and desktop */

@media (min-width: 981px) and (max-width: 1200px) {
    .page-header .page-header-menu .hor-menu .navbar-nav > li > a {
  font-size: 12px !important;
  font-weight: normal;
  padding: 15px 8px !important;
}
    
}

@media (min-width: 768px) and (max-width: 980px) {
    
    
}



/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
body .page-header .page-header-top .page-logo {
    margin: 0 auto;
    text-align: center;
    width: 100% !important;
}

.page-header .page-header-top .top-menu {
  display: block !important;
  float: none !important;
  margin: 0 auto !important;
  text-align: center !important;
}

.page-header .page-header-top .top-menu .navbar-nav {
  float: none !important;
  vertical-align: middle !important;
}

.page-header .page-header-top .top-menu {
  clear: both;
  display: block;
  margin-top: 10px !important;
}

.page-footer-inner {
  display: block;
  margin-bottom: 20px;
  text-align: center;
}

.page-container {
    overflow-x: hidden;
}

.page-footer-inner {
  text-align: center !important;
}

.logo-text {
    text-align: center;
    margin: 30px 0 0;
}

.logo-mid {
    display: block;
    margin-bottom: 20px;
    margin-right: 0;
}

.mid-text {
  display: block;
}


}

.select2-container.form-control.input-ignore.select2me {
  display: none;
}

.form .form-actions .btn-set select {
    max-width: 200px !important;
}

.form-group.form-md-line-input .form-control {
    color: #999 !important;
    opacity: 1;
    height: 28px;
    padding: 0 !important;
}
.form-control{
    color: #b3b3b3;
    opacity: 1;
}

.form-group.form-md-line-input .form-control {
    -border-bottom-colors: none;
    -border-left-colors: none;
    -border-right-colors: none;
    -border-top-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -webkit-border-bottom-colors: none;
    -webkit-border-left-colors: none;
    -webkit-border-right-colors: none;
    -webkit-border-top-colors: none;
    -o-border-bottom-colors: none;
    -o-border-left-colors: none;
    -o-border-right-colors: none;
    -o-border-top-colors: none;
    background:  none repeat scroll 0 0;
    border-color: -use-text-color -use-text-color #e5e5e5;
    border-color: -moz-use-text-color -moz-use-text-color #e5e5e5;
    border-color: -webkit-use-text-color -webkit-use-text-color #e5e5e5;
    border-color: -o-use-text-color -o-use-text-color #e5e5e5;
    border-image: none;
    border-radius: 0;
    border-style: none none solid;
    border-width: 0 0 1px;
    box-shadow: none;
    color: #333;
    font-size: 16px;
    padding-left: 0;
    padding-right: 0;
}
.form-control {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    box-shadow: none;
    color: #333;
    font-size: 14px;
    font-weight: normal;
    transition: border-color 4s ease-in-out 0s, box-shadow 4s ease-in-out 0s;
    -webkit-transition: border-color 4s ease-in-out 0s, box-shadow 4s ease-in-out 0s;
  -moz-transition: border-color 4s ease-in-out 0s, box-shadow 4s ease-in-out 0s;
  -o-transition: border-color 4s ease-in-out 0s, box-shadow 4s ease-in-out 0s;
  transition: border-color 4s ease-in-out 0s, box-shadow 4s ease-in-out 0s;
}

.form-group.form-md-line-input {
  position: relative;
}

.form-md-line-input .form-control:focus {
  border-color: #4db3a4 !important;
  border-width: 2px !important;
  outline: 0 none;
}

.form-group.form-md-line-input .form-control ~ label {
    color: #888888 !important;
    font-size: 13px !important;
    margin-bottom: 0;
    opacity: 1;
    top: 0;
}
.form-group.form-md-line-input .form-control ~ label, .form-group.form-md-line-input .form-control ~ .form-control-focus {
    bottom: 0;
    left: 0;
    pointer-events: none;
    position: absolute;
    width: 100%;
}
.form-group.form-md-line-input  label {
    font-weight: 400 !important;
        color: #888888 !important;
    font-size: 13px !important;
}

/***
.md-checkbox  span.inc {
    animation: 0.3s ease 0s normal none 1 running growCircle;
}
.md-checkbox label  span.inc {
    background: #fff none repeat scroll 0 0;
    border-radius: 50% !important;
    height: 60px;
    right: -56px;
    opacity: 0;
    top: -20px;
    width: 60px;
}
.md-checkbox label  span {
    display: block;
    right: 0;
    position: absolute;
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
}

.md-checkbox.has-success label  span.check {
  border-color: #45b6af;
}

.md-checkbox.has-success label  span.box {
  border-color: #45b6af;
}

.md-checkbox.has-success label .box {
    color: #45b6af;
}
.md-checkbox label {
    cursor: pointer;
    padding-left: 0px;
}

.md-checkbox input[type="checkbox"] {
    position: absolute;
    visibility: hidden;
}

.md-checkbox-list .md-checkbox {
    display: block;
    margin-bottom: 10px;
}
.md-checkbox {
    position: relative;
}

.md-checkbox-list {
    margin: 10px 0;
}

.md-checkbox label > .check {
  -border-bottom-colors: none;
  -border-left-colors: none;
  -border-right-colors: none;
  -border-top-colors: none;
    -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
    -webkit-border-bottom-colors: none;
  -webkit-border-left-colors: none;
  -webkit-border-right-colors: none;
  -webkit-border-top-colors: none;
    -o-border-bottom-colors: none;
  -o-border-left-colors: none;
  -o-border-right-colors: none;
  -o-border-top-colors: none;
  border-color: -use-text-color #45b6af #45b6af -use-text-color;
  border-image: none;
  border-style: none solid solid none;
  border-width: medium 2px 2px medium;
  height: 20px;
  right: -33px;
  opacity: 0;
  top: -4px;
  transform: rotate(180deg);
  transition-delay: 0.3s;
  width: 10px;
  z-index: 5;
}

**/
