.page-header .page-header-top .page-logo .logo-default {
  margin: 7px 0 0 !important;
}

.page-content-bg {
    background: #fff none repeat scroll 0 0;
    margin-bottom: 20px;
}

.profile-content-bg {
    background: rgba(255, 255, 255, 0.25) none repeat scroll 0 0;
    box-shadow: 4px 4px 4px 0 #aaa;
    width: 100%;
}

.page-content {
  background:  url("../webroot/assets/admin/pages/media/bg/1.jpg") no-repeat fixed center top 100% / cover  !important;
}

.content {
    background-color: #fff;
    margin: 0 auto;
    padding: 20px 30px 15px;
}

.header_approved .logo {
    text-align: right;
}

.main-logo {
    float: right;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 30% !important;
}

.main-logo img {
    width: 100%;
}

.header_approved div h2 {
    margin-bottom: 0;
    margin-top: 60px;
    font-weight: 400;
}

.send-application div h2 {
    font-weight: 400;
}

.no-padding {
    padding: 0 !important;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.required::after {
    color: #e32;
    content: " *";
}

.padding-right {
    padding-right: 0 !important;
}

.approved-form .subz {
    margin-bottom: 20px;
}

.padding-left {
    padding-left: 0 !important;
}

.driving_exp label .checkbox {
    display: inline-block !important;
    margin-left: 11px !important; 
    margin-right: 10px !important;
    margin-top: 0 !important;
    position: relative !important;
    }

.signature_date label {
    text-align: center;
}


/** Transport-applicaton **/

.header_address {
    margin-bottom: 20px;
    text-align: center;
}

.header_address h2 {
    font-size: 24px;
    font-style: italic;
    margin-bottom: 5px !important;
    font-weight: 400;    
}

.header_address .address span {
    display: block;
}

.header_address .address {
   /* color: #fff;*/
    font-size: 17px;
    font-style: italic;
    border-bottom: 5px solid #bbb;
    margin-bottom: 20px;
    padding-bottom: 5px;
}

.main-title {
    font-size: 22px;
    text-align: center;
    margin-bottom: 25px;
    font-weight: 700;
}

.header_approved .logo > span {
    font-weight: 600;
}

.current-policy .col-md-12 > h4, .loss-experience div > h4, .cargo h4, .commercial-general h4, .driver_info h4, .driving_exp h4, .trucking_company  h4, .claims_history h4 {
    font-weight: 600;
}

.transport-app-form .texts {
    font-style: italic;
}

.current-policy .table-striped > tbody > tr:nth-child(2n+1) {
    background-color: #ffffff !important;
}

.current-policy table {
    border: 1px solid #dfdfdf;
}

.current-policy .table > thead > tr > th {
    border-bottom: medium none !important;
    vertical-align: bottom;
}

.current-policy .table > caption + thead > tr:first-child > th, .current-policy  .table > colgroup + thead > tr:first-child > th, .current-policy  .table > thead:first-child > tr:first-child > th, .current-policy .table > caption + thead > tr:first-child > td, .current-policy .table > colgroup + thead > tr:first-child > td, .current-policy .table > thead:first-child > tr:first-child > td {
    border: 1px solid #dfdfdf !important;
}

.current-policy .table > thead > tr > th, .table > tbody > tr > th, .current-policy .table > tfoot > tr > th, .current-policy .table > thead > tr > td, .current-policy .table > tbody > tr > td, .current-policy .table > tfoot > tr > td {
    border: 1px solid #dfdfdf !important;
    color: #000;
}

.current-policy .table thead {
    background: #f9f9f9 none repeat scroll 0 0;
}

.upload_btns a {
    display: block;
    margin-top: 10px;
}

.loss-experience .radio, .cargo .radio , .commercial-general .radio {
    display: inline-block !important;
    margin-right: 5px !important;
   
}

.loss-experience .radio-inline, .cargo .radio-inline, .commercial-general .radio-inline {
    padding-left: 7px !important;
}

.detail-textarea {
    margin-top: 10px;
}

.driver-lists .table.table-bordered th {
    background: #f7f7f7 none repeat scroll 0 0;
    text-align: center;
    vertical-align: top !important;
    color: #888;    
}

/*** new css ***/

.width-equal td .label {
    display: block;
    padding: 7px 3px;
    width: 40px;
}

.width-equal .actions .label {
    display: block;
    padding: 3px 3px 4px;
    width: 70px;
}

.profile-sidebar-portlet {
  border-radius: 5px;
  box-shadow: 0 0 3px #dfdfdf;
  margin-left: 10px;
  margin-top: 10px !important;
}

.page-bar {
    float: right;
    margin-top: 12px;
}

.profile-usertitle .btn {
    font-size: 12px;
}

.profile-account .profile-sidebar-portlet {
    margin-left: 0;
}

.form.profile-content-bg {
    padding: 20px !important;
}

.chat-form .form-control.input-inline {
    float: left;
    margin-right: 5px;
    
}
/*
.send-application, .header_address, .transport-app-form, .header_approved, .header_approved .logo, .approved-form {
    color: #fff;
}

.form-group.last, .form-group.last p span {
    color: #fff !important;
}
*/
.form-group.last > h2 {
    border-top: 1px dotted #fff;
    padding-top: 20px;
}

.form-group.last > h2:first-child {
    border-top: none;
    padding-top: 0px;
}

.page-footer-inner > a:hover {
    text-decoration: none;
    color: #4db3a4 !important;
      -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.tabbable-custom .nav.nav-tabs {
    background: #FFF none repeat scroll 0 0;
}

.footer-block address a {
    color: #a2abb7;
          -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.footer-block address a:hover {
    text-decoration: none;
    color: #4db3a4 !important;
      -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}


.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
  background: #f7f7f7 none repeat scroll 0 0;
  border-bottom-width: 2px;
  color: #888;
  font-weight: 700;
  text-align: center;
}

.pricing.hover-effect {
  background: #fff none repeat scroll 0 0;
  border-radius: 5px;
  box-shadow: 0 0 3px #555555;
  margin: 20px;
  padding: 10px 20px;
}

.tinynav a{font-size:13px!important;padding:12px!important;}


.page-content .dashboard-stat:hover {
    text-decoration: none;
}

.page-content .dashboard-stat .visual > i {
  display: block;
  font-size: 50px;
  line-height: 50px;
  margin: 0 auto;
  padding-top: 30px;
}

.page-content .dashboard-stat .visual {
  display: block;
  float: none;
  font-size: 35px;
  height: 35px;
  line-height: 35px;
  margin-bottom: 15px;
  padding-left: 0;
  padding-top: 0;
  text-align: center;
  width: 100%;
}

.page-content .dashboard-stat .details {
  padding-right: 0;
  position: static;
}

.page-content .dashboard-stat .details .number {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 20px;
  margin-bottom: 0;
  padding-top: 35px;
  text-align: center;
  text-transform: uppercase;
}

.page-container .page-content .dashboard-stat.blue-madison.dashboard-stat-light .details .desc {
  display: block;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0;
  opacity: 0;
  overflow: hidden;
  text-align: center;
}

.page-container .page-content .dashboard-stat .details .desc {
  display: block;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0;
  text-align: center;
}


.page-container .page-content .dashboard-stat.yellow.dashboard-stat-light .details .desc {
  display: block;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0;
  text-align: center;
}

.page-content .dashboard-stat.blue-madison.dashboard-stat-light:hover {
    background-color: #4884b8;
    border-color: #578ebe;
      -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.page-content .dashboard-stat.red-intense.dashboard-stat-light:hover {
    background-color: #e04a49;
    border-color: #e35b5a;
      -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;    
}

.page-content .dashboard-stat.green-haze.dashboard-stat-light:hover {
    background-color: #3ea7a0;
    border-color: #44b6ae;
          -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out; 
}

.page-content .dashboard-stat.yellow.dashboard-stat-light:hover {
  background-color: #ffb034;
  border: 10px solid #ffb848;
            -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out; 
  width: 160px;
  height: 160px;
  border-radius: 160px;
}

.page-content .dashboard-stat.blue-madison.dashboard-stat-light {
  border: 5px solid rgba(250, 250, 250, 0.2);
  border-radius: 150px;
  box-shadow: 0 0 5px #6c6c6c;
  display: block !important;
  height: 150px;
  margin: 0 auto;
  padding-bottom: 0 !important;
  width: 150px;
              -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out; 
}
.page-content .dashboard-stat.red-intense.dashboard-stat-light {
  border: 5px solid rgba(250, 250, 250, 0.2);
  border-radius: 150px;
  box-shadow: 0 0 5px #6c6c6c;
  display: block !important;
  height: 150px;
  margin: 0 auto;
  padding-bottom: 0 !important;
  width: 150px;
              -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out; 
  overflow: visible;
}

.page-content .dashboard-stat.green-haze.dashboard-stat-light {
  border: 5px solid rgba(250, 250, 250, 0.2);
  border-radius: 150px;
  box-shadow: 0 0 5px #6c6c6c;
  display: block !important;
  height: 150px;
  margin: 0 auto;
  padding-bottom: 0 !important;
  width: 150px;
              -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out; 
}

.page-content .dashboard-stat.dashboard-stat-light.yellow {
  border: 5px solid #f8cf8f;
  border-radius: 150px;
  box-shadow: 0 0 5px #6c6c6c;
  display: block !important;
  height: 150px;
  margin: 0 auto;
  padding-bottom: 0 !important;
  width: 150px;
              -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out; 
}


.page-content .dashboard-stat.dashboard-stat-light.blue-madison:hover .desc {
    opacity: 1!important;
    overflow: visible!important;
                -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out; 
}

.page-container .page-content .dashboard-stat .visual > i {
    color: white;
    opacity: 0.8;
                    -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out; 
}

.page-content .dashboard-stat.red-intense.dashboard-stat-light .details {
  background: #e04a49 none repeat scroll 0 0;
  border-radius: 0 10px 10px 0;
  box-shadow: 3px 2px 2px 0 #606060;
  opacity: 0;
  overflow: hidden;
  padding: 0 7px 7px;
  position: absolute;
  left: 0px;
  top: 39px;
                    -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out; 
}

.page-container .page-content .dashboard-stat.red-intense.dashboard-stat-light .visual > i {
    padding-top: 45px;
}

.page-container .page-content .dashboard-stat.red-intense.dashboard-stat-light:hover .details{
    opacity: 1;
    overflow: visible;
                    -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out; 
  left: 134px;
    background: #e04a49 none repeat scroll 0 0;
  border-radius: 0 10px 10px 0;
  box-shadow: 3px 2px 2px 0 #606060;
  width: 133px;
  border: 5px solid #e35b5a;
  border-left: none;
}

.page-container .page-content .dashboard-stat.red-intense.dashboard-stat-light {
    position: relative;
}

.dashboard-stat-light.red-intense .number {
  padding-top: 10px !important;
}

.page-container .page-content .dashboard-stat.red-intense.dashboard-stat-light .details .desc {
  display: block;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0;
  text-align: left;
}

.page-container .page-content .dashboard-stat.red-intense.dashboard-stat-light .details .number{
  text-align: left;
}
